<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layaout Basico</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
        <figure>Logo</figure>
        <nav>
            <ul>
                <li>Hombres</li>
                <li>Mujeres</li>
                <li>Niños</li>
                <li>Bebes</li>
            </ul>
        </nav>
    
    </header>
    <main>
        <aside>
            <figure><img src="./image/primavera.jpg" alt="primavera"></figure>
            <figure><img src="./image/verano.jpg" alt="verano"></figure>
            <figure><img src="./image/otoño.jpg" alt="otoño"></figure>
            <figure><img src="./image/invierno.jpg" alt="invierno"></figure>
        </aside>
        <section>Texto</section>
    </main>
    <footer>
        <h2 class="footer-social">footer</h2>
    </footer>
    
</body>
</html>